.App {
  display: flex;
  justify-content: inherit;
  text-align: center;
  background-color : rgb(239, 246, 247);
}

.PI
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}






